[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/miniupnp/miniupnp
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "external/trezor-common"]
	path = external/trezor-common
	url = https://github.com/trezor/trezor-common.git
[submodule "external/randomx"]
	path = external/randomx
	url = https://github.com/loki-project/RandomX
[submodule "external/loki-mq"]
	path = external/loki-mq
	url = https://github.com/loki-project/loki-mq.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/uWebSockets"]
	path = external/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "external/libuv"]
	path = external/libuv
	url = https://github.com/libuv/libuv.git
[submodule "external/cpr"]
	path = external/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "external/ghc-filesystem"]
	path = external/ghc-filesystem
	url = https://github.com/gulrak/filesystem.git
